.zhijiankang_con{ height: auto; overflow: hidden; padding: 104px 0}
.fl{ float: left}
.fr{ float: right}

.zjk1{ background: #e2f3fa}
.zjk2{ background: #fff}
.m_l{ margin-left: 80px;}
.m_r{ margin-right: 80px;}

.zjk1 img{ }
.zjk1_text{ width: 563px; height: auto; margin-top: 200px;}
.zjk1_text h2{ font-size: 60px;font-weight: 100; text-align: center; margin-bottom: 40px; }
.zjk1_text h4{ font-size: 28px;font-weight: 100;line-height: 50px;}